h1,h2 {
    font-family: "Oswald"
  }
  
  body {
    font-family: "Open Sans";
    background-color: #d9d4d0;
    padding: 20px;
  }
  
  
  html, body { 
    height: 100%; 
    margin: 0; 
    display: flex; 
    flex-direction: column;
  }
  
  .main-container {
    display: grid;
    grid-template-rows: auto 1fr;  /* För navbar och header */
    grid-template-columns: 1fr;
    height: 100%;
  }
  
  .navbar {
    position: relative;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: #272625;
    overflow: hidden;
    display: flex; 
    align-items: center;
  }
  
  .navbar a {
    text-align: center;
    padding: 10px;
    color: #ece5e3;
    text-decoration: none;
    font-size: 25px;
  }
  
  .navbar .nav-right { 
    margin-left: auto; 
  }
  
  .navbar a:hover {
    background-color: #ffffff;
    color:#231c1a;
    border-radius: 12px;
  }
  

  /* HERO */

header { 
    position: sticky;
    width: 100%; 
    height: 750px; 
    background: linear-gradient(to right, #272625 50%, #2e2d2b 50%); 
    border-top: 8px double #d9d4d0; 
    border-bottom: 9px double #d9d4d0;
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    padding-right: 120px; 
    }
    
    header h1 { 
    color: #231c1a; 
    font-size: 50px;
    }
    
    header p {
        color: #c7bebd;
        font-size: 22px;
        text-align: left; /* Justera om du vill ha vänsterjusterad text */
        max-width: 600px; /* Begränsa bredden på p-texten */
        padding: 10px;
        box-sizing: border-box; /* Inkluderar padding och border i elementets totala bredd */
        position: absolute;
        right: 20px; /* Placera på höger sida */
        top: 30%; /* Justera den vertikala positionen om det behövs */
    }
    
    .header-portfolio-text { 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    font-size: 88px;
    color: #f2efed; 
    line-height: 1.2; 
    position: absolute; 
    right: 60rem; 
    bottom: 60%; 
    top: 30%; 
    transform: translateY(-50%);
    text-align: right
    } 
    
    .portfolio-text .large { 
    font-size: 94px; /* Justerbar större storlek */ }
    
    .portfolio-text span { 
    margin: 0; 
    padding: 0; 
    }
    
    
    .header-paragraph {
      font-family: 'Genos', light;
      }


/* Projects page */

* {
    box-sizing: border-box;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Adds padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 12px;
  }
  
  /* Creates three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }

  .content img {
    width: 100%; /* Gör att bilden fyller hela kolumnen */
    height: 200px; /* Bestäm en fast höjd för alla bilder */
    object-fit: cover; /* Ser till att bilderna behåller rätt proportioner och fyller utrymmet */
    border-radius: 8px; /* Rundar hörnen på bilderna */
}
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #666;
     color: white;
  }